.footer {
    display:grid;
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 5rem max(10rem);
    
}

.nav {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: $font-display;
    text-transform: uppercase;
    
    &__item {
        
    }

    &__link {
        padding: 1.5rem;
        color: #fff;
        display: block; //need to transform text!!!
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
            transform: translateY(-3px);
        }
    }
    
}

.copyright {
    color: $color-grey-light-2;
    display: block;
    text-align: center;
    padding: 3rem 0 0 0;
    font-size: 1.2rem;
}