.header {
    background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/house-3.jpeg);
    background-size: cover;
    background-position: center;
    grid-column: full-start / col-end 6;
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    padding: 8rem;

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
        grid-column: full-start / full-end;
    }
    
    &__logo {
        width: 12rem;
        align-self: center;
    }

    &__seenon-text {
        display: flex;
        align-items: center;
        gap: .5rem;
        width: 100%;
        font-size: 1.4rem;
        color: $color-grey-light-2;
        align-self: center;

        &::before,
        &::after {
        content: "";
        display: block;
        background-color: $color-grey-light-2;
        height: 1px;
        width: 100%;
        
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }
    }

    &__seenon-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        @media only screen and (max-width: $bp-small) {
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        & > * {
            
            display: block;
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);

            @media only screen and (max-width: $bp-large) {
                max-height: 1.5rem;
            }
        }
    }

    &__btn {
        align-self: flex-start;
        
    }
}

.realtors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
    

    &__list {
        width: 60%;
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 2rem;
        align-items: center;

        @media only screen and (max-width: $bp-largest) {
            width: 80%;
            }
    }

    &__img {
        width: 8rem;
        height: 8rem;
        border-radius: 1000px;

        @media only screen and (max-width: $bp-largest) {
        width: 5rem;
        height: 5rem;
        }
    }

    &__bio {
        font-family: $font-display;
        color: #fff;
    }

    &__name {
        font-size: 1.6rem;
        font-weight: 400;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.4rem;
            }
    }

    &__sold {
        color: $color-grey-light-2; 
    }
}