.homes {
    // background-color: $color-secondary;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin: 15rem 0;
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22rem 2rem 2rem 5rem;
    row-gap: 3.5rem;
    font-size: 1.4rem;

    &__img {
        position: relative;
        width: 100%;
        grid-row: 1 / 2; 
        grid-column: 1 / -1;
        background-image: url(../img/house-1.jpeg);
        background-size: cover;
        background-position: center;

        &-icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            fill: $color-primary-dark;
            width: 3rem;
            height: 3rem;
        }

        &-name {
            position: absolute;
            bottom: 0;
            margin:0 auto;
            width: 80%;
            padding: 1rem 0;
            color: #fff;
            font-size: 1.6rem;
            letter-spacing: .1rem;
            text-align: center; 
            background-color: $color-secondary;
        }
    }

    &__btn {
        grid-row: 4 / 5; 
        grid-column: 1 / -1;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        text-align: center;
    }
}